# ========================================================
# Make your own ".env" file using the command "cp .env.example .env" to your terminal
# Make sure to replace with your real API key
# You can get the API from "https://aistudio.google.com"
# ========================================================

GEMINI_API_KEY=your_api_key_here

# ========================================================
# This project relies on Google's Gemini API, and
# the availability of models may change over time. 
# If the model specified in the code becomes unavailable,
# you may need to update the model name 
# ========================================================

CHAT_MODEL = gemini-3.1-flash-lite-preview
MODE_MODEL = gemini-2.5-flash
MEMORY_MODEL = gemini-3.1-flash-lite-preview