# ========================================================
# Make your own ".env" file using the command "cp .env.example .env" to your terminal
# Make sure to replace with your real API key
# You can get the API from "https://aistudio.google.com"
# ========================================================

GEMINI_API_KEY=your_api_key_here